@media ( max-width: 1200px )
  .container
    max-width: 960px
  .slider
    width: 590px
    &__image
      height: 100%

@media ( max-width: 992px )
  .container
    max-width: 740px
  .navbar-top
    &__search
      // width: 340px
      margin: auto
  .search
    &__input
      width: 340px
  .navbar-menu
    font-size: 14px

  .hotel
    padding: 23px 0 60px 0

  .hotel-info__hotel-grid
    flex-direction: column
    align-items: center
    width: 100%

    .slider
      width: 100%
      &__image
        object-fit: cover
  .hotel-grid

    &__booking-map-wrapper
      margin-top: 20px
    .booking-map-wrapper
      // margin: auto

      flex-direction: row
      justify-content: space-between
      width: 100%
      .booking
        padding: 29px 23px 26px 23px
        width: 360px
      // .map
      //   width: 340px

@media ( max-width: 768px )
  .container
    max-width: 700px
    width: 95%
  .logo
    width: 132px
  .navbar-top
    // height: 100px
    padding: 30px 0
    &__search
      margin: 0
  .search
    &__input
      width: 300px
  .navbar-menu
    padding: 22px 0 23px 0
    font-size: 12px

  .hotel-grid
    .slider
      height: 450px
    &__booking
      margin-right: 20px
    .booking-map-wrapper
      .booking
        // width: 340px
        &__btn
          padding: 13px 60px
@media ( max-width: 630px )
  .container
    max-width: 540px
  .navbar
    &-menu
      display: none
    &-top
      &__user,&__search
        display: none

  .menu
    &-btn
      padding: 0
      width: 16px
      height: 11px
      display: flex
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color

  .hotel

    padding: 23px 0 40px 0
    &-name
      flex-basis: 100%
    &-info
      &__name
        margin: 10px 0 0 0
      &__raiting
        display: none
      &__offer
        flex-basis: auto
        order: -1
        margin-left: 0
  .stars
    flex-basis: auto
  .hotel-flex-wrapper
    justify-content: space-between

  .slider
    height: 278px
  .hotel-grid
    .swiper-container
      height: 278px
    .slider
      height: 100%
    //   &__image
    //     height: 278px
    .booking
      margin-bottom: 20px
    .booking-map-wrapper
      width: 100%
      align-items: strecth
      flex-direction: column
      justify-content: space-between
      .booking,.map
        width: 100%

@media ( max-width: 576px )
  .container
    max-width: 480px
  .logo
    width: 99px
