@media ( max-width: 1200px )
  .container
    max-width: 960px
  .hotel-slider
    width: 590px
    &__image
      height: 100%
  .card
    width: 230px
    height: 230px
  .footer
    &__input
      &-group
        flex-basis: 100%

@media ( max-width: 992px )
  .container
    max-width: 740px
  .navbar-top
    &__search
      // width: 340px
      margin: auto
  .search
    &__input
      width: 340px
  .navbar-menu
    font-size: 14px

  .hotel
    padding: 23px 0 60px 0
    &-info
      display: flex
  .hotel-grid
    flex-direction: column
    align-items: stretch
    flex-basis: auto
    width: 100%

    .hotel-slider
      width: 100%
      &__image
        object-fit: cover
  .hotel-grid

    &__booking-map-wrapper
      margin-top: 20px
    .booking-map-wrapper
      // margin: auto

      flex-direction: row
      justify-content: space-between
      width: 100%
      .booking
        padding: 29px 23px 26px 23px
        width: 360px
  .reviews
    &-slider
      &__item
        max-width: 580px

  .card
    width: calc(50% - 10px)
    margin-bottom: 20px
    // margin-left: 0
    // margin: auto
  .activities
    &-wrapper
      // justify-content: flex-start
    &__card
      // margin-bottom: 20px
  .footer
    &-wrapper
      grid-template-columns: repeat(6, 1fr)
      grid-row-gap: 40px
    &__logo-block
      grid-row: 1 / 2
      grid-column: span 2

    &__social-network
      grid-row: 1 / 2
      grid-column: span 4
      align-self: center
    &__categories
      grid-row: 2 / 3
      grid-column: span 2
    &__aditional
      grid-column: span 2
    &__legal
      grid-column: span 2
    &__input
      &-group
        flex-basis: 49%
    &__contact
      &-details
        grid-row: 3
        grid-column: span 5
      &-form
        grid-row: 4
        grid-column: span 5
@media ( max-width: 768px )
  .container
    max-width: 700px
    width: 95%
  .logo
    width: 132px
  .navbar-top
    // height: 100px
    padding: 30px 0
    &__search
      // width: 300px
      margin-left: 35px
  .search
    &__input
      width: 300px
  .navbar-menu
    padding: 22px 0 23px 0
    font-size: 12px

  .hotel-grid
    .hotel-slider
      height: 450px
    &__booking
      margin-right: 20px
    .booking-map-wrapper
      .booking
        // width: 340px
        &__btn
          padding: 13px 55px
  .subscribe
    padding: 92px 0 93px 0

  .reviews
    &-slider
      &__item
        padding: 0 30px 30px
        &:after,&:before
          display: none
      &__button
        top: 45px
        &--next
          right: 50%
          transform: translate(50%, -50%)
          margin-right: -65px
        &--prev
          left: 50%
          transform: scale(-1, -1) translate(50%, 50%)
          margin-left: -65px
  .footer
    &__input
      &-group
        flex-basis: 100%
@media ( max-width: 630px )
  body
    padding-top: 78px
  .container
    max-width: 540px
  .navbar
    &--mobile
      &-fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 101
    &-top
      &__search, &__user
        &--mobile
          &-hidden
            display: none
          &-visible
            display: flex
      &__user
        flex-direction: column
        justify-content: center

    &-menu
      display: none
      &__list
        display: flex
        flex-direction: column
      &__item
        margin-bottom: 20px
        &--mobile
          &-visible
            display: block

      &--visible
        padding-top: 30px
        display: block
        position: fixed
        left: 0
        right: 0
        bottom: 0
        top: 78px

  .menu
    &-btn
      padding: 0
      width: 16px
      height: 11px
      display: flex
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color

  .user
    &__name
      &--light
        color: #fff
        margin-left: 0
        margin-top: 10px
        text-transform: none
  .hotel
    padding: 23px 0 40px 0
    &-name
      flex-basis: 100%
    &-info
      &__name
        margin: 10px 0 0 0
      &__raiting
        display: none
      &__offer
        flex-basis: auto
        order: -1
        margin-left: 0
  .stars
    flex-basis: auto
  .hotel-flex-wrapper
    justify-content: space-between
    flex-basis: 100%

  .hotel-slider
    height: 278px
  .hotel-grid
    .hotel-swiper-container
      height: 278px
    .hotel-slider
      height: 100%
    //   &__image
    //     height: 278px
    .booking
      margin-bottom: 20px
    .booking-map-wrapper
      width: 100%
      // align-items: strecth
      flex-direction: column
      flex-wrap: wrap
      justify-content: space-between
      .booking,.ymap-container
        width: 100%
  .subscribe
    padding: 76px 0 83px 0
  .subscribe-wrapper
    flex-direction: column
    align-items: flex-start

    .subscribe__title
      margin-top: 5px
      margin-bottom: 37px
    .form__input
      margin-left: 0
  .activities
    padding-top: 40px
    padding-bottom: 60px
  .btn,.link
    cursor: default
@media ( max-width: 576px )
  .container
    max-width: 480px
  .logo
    width: 99px
  .activities
    padding-top: 30px
  .card
    width: 100%
  .footer
    &-wrapper
      grid-template-columns: 1fr
    &__logo-block
      grid-row: 1
      grid-column: 1
    &__social-network
      grid-row: 2
      grid-column: 1
    &__aditional
      grid-row: 3
      grid-column: 1
    &__categories
      grid-row: 4
      grid-column: 1
    &__legal
      grid-row: 5
      grid-column: 1
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
      &-form
        grid-row: 7
        grid-column: 1

  .modal
    &__dialog
      max-width: 83%
      padding: 33px 45px
@media ( max-width: 390px )
  .navbar
    &-top
      height: 70px
    &-menu
      &--visible
        top: 70px
  .container
    // margin: auto
    // width: 100%
    padding: 0 20px
  .subscribe__form
    width: 250px
  .activities
    &__title
      font-size: 18px
      line-height: 23px
  .footer
    &-wrapper
      // grid-template-columns: 320px
    &__social-network
      max-width: 250px
    &__contact
      &-details
        max-width: 250px
      &-form
        max-width: 250px
  .modal
    &__dialog
      max-width: 90%
      padding: 33px 25px

@media (orientation: landscape) and ( max-height: 480px )
  .modal
    &__dialog
      max-height: 100%
      overflow-y: auto
@media (orientation: landscape) and ( max-height: 480px )
  .navbar
    &-menu
      &--visible
        max-height: 100%
        overflow-y: auto
