@media ( max-width: 1200px )
  .container
    max-width: 960px
@media ( max-width: 992px )
  .container
    max-width: 740px
  .navbar-top
    &__search
      // width: 340px
      margin: auto
  .search
    &__input
      width: 340px

  .navbar-menu
    font-size: 14px
@media ( max-width: 768px )
  .container
    max-width: 700px
    width: 95%
  .logo
    width: 132px
  .navbar-top
    // height: 100px
    padding: 30px 0
    &__search
      margin: 0
  .search
    &__input
      width: 300px
  .navbar-menu
    padding: 22px 0 23px 0
    font-size: 12px

@media ( max-width: 630px )
  .container
    max-width: 540px
  .navbar
    &-menu
      display: none
    &-top
      &__user,&__search
        display: none

  .menu
    &-btn
      padding: 0
      width: 16px
      height: 11px
      display: flex
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color

  .hotel
    &-name
      flex-basis: 100%
    &-info
      &__name
        margin: 10px 0 0 0
      &__raiting
        display: none
      &__offer
        flex-basis: auto
        order: -1
        margin-left: 0
  .stars
    flex-basis: auto
  .hotel-flex-wrapper
    justify-content: space-between

@media ( max-width: 576px )
  .container
    max-width: 480px
  .logo
    width: 99px
