*
  box-sizing: border-box

body
  font-family: 'Muli', sans-serif
  color: $text-color
  background-color: $secondary

ul
  padding: 0
  margin: 0
.btn
  border: none
  cursor: pointer

a
  color: $text-color
  text-decoration: none

img
  width: 100%

.container
  max-width: 1110px
  margin: auto
