*
  box-sizing: border-box

body
  font-family: 'Mulish', sans-serif
  color: $text-color
  background-color: $secondary
h3
  margin: 0
ul
  padding: 0
  margin: 0
.btn
  border: none
  cursor: pointer
  &:focus
    outline: none

.btn--primary
  border-radius: 6px
  background-color: $primary
  color: #fff
  &:active
    background-color: lighten($primary, 10%)

a
  color: $text-color
  text-decoration: none

img
  width: 100%

.container
  max-width: 1110px
  margin: auto

.input
  background: #FFFFFF
  border-radius: 4px
  padding: 0 23px
  height: 50px
.message
  resize: none
  background: #FFFFFF
  border-radius: 4px
  padding: 18px 23px

.invalid
  color: tomato
