.hotel
  padding: 23px 0 70px 0
  &-info
    display: flex
    align-items: center
    justify-content: space-between
    flex-flow: wrap

    &__text
      padding-bottom: 20px
    &__offer
      margin-left: 14px
    &__hotel-grid
      flex-basis: 100%
  &-name
    margin: 4px 0 0 0
    text-transform: uppercase
    font-size: 24px
    line-height: 30px

  &-description
    font-size: 12px
    line-height: 15px
    margin: 0
    flex-basis: 100%
.hotel-flex-wrapper
  display: flex
  flex-wrap: wrap
  flex-basis: 70%
  align-items: center
.stars
  flex-basis: 100%
  &-ico
    width: 8px
    height: 8px
.offer
  font-size: 10px
  line-height: 13px
  padding: 4px 9px
  background-color: $primary
  border-radius: 3px
  color: #fff

.raiting
  // display: flex
  // flex-wrap: wrap
  // flex-direction: column
  // justify-content: center
  // align-items: center
  // padding: 8px 6px 6px 7px
  // background-color: $primary
  // color: #fff
  // border-radius: 4px
  // flex-shrink: 0
  max-width: 65px
  min-height: 42px
  text-align: center
  color: #ffffff
  background-color: $primary
  border-radius: 4px
  &__text
    font-weight: 600
    font-size: 8px
    line-height: 10px
  &__counter
    font-weight: bold
    font-size: 14px
    line-height: 18px

.hotel-grid
  align-items: center
  display: flex
  justify-content: space-between
.swiper-container
  width: 100%
  height: 450px
  position: relative
  border-radius: 8px
  &::after
    position: absolute
    top: 0
    content: ''
    width: 100%
    height: 100%
    background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%)
    z-index: 2
  .swiper-slide
    max-height: 100%
    object-fit: cover

.slider
  width: 728px
  // margin: auto
  &-button
    position: absolute
    top: 50%
    transform: translateY(-50%)
    z-index: 3
    width: 30px
    height: 30px
    border: none
    cursor: pointer
    background-repeat: no-repeat
    background-position: center
    background-size: 10px
    background-color: transparent
    &:focus
      outline: none
    &--next
      right: 18px
      background-image: url(../img/arrow-next.svg)

    &--prev
      left: 18px
      background-image: url(../img/arrow-prev.svg)

.booking-map-wrapper
  width: 350px
  align-self: stretch
  display: flex
  // align-items: start
  flex-direction: column
  justify-content: space-between
.quick-booking,.phone-number
  color: #fff
  font-weight: 600
  font-size: 18px
  line-height: 25px
.booking
  flex-direction: column
  width: 100%
  font-family: 'Nunito', 'Muli', sans-serif
  border-radius: 8px
  color: #fff
  padding: 28px
  background-color: $bgc-dark
  &__ico
    width: 14px
    height: 14px
    margin-right: 9px
  &__info
    display: flex
    justify-content: space-between
    margin-bottom: 9px
  .price
    display: flex
    flex-direction: column

    &__start
      font-size: 10px
      line-height: 14px
    &__tag
      font-weight: 800
      font-size: 24px
      line-height: 33px
    &__per-room
      font-size: 12px
      line-height: 16px
  &__conditions
    // height: 40px
    display: flex
    flex-direction: column
    justify-content: space-around
    font-size: 12px
    line-height: 16px

  &__call-center
    font-weight: 600
    font-size: 18px
    line-height: 25px
    display: flex
    justify-content: space-between
    margin-bottom: 17px
  &__btn
    text-align: center
    width: 100%
    min-height: 45px
    font-weight: 600
    font-size: 14px
    line-height: 19px
    padding: 13px 83px
    border-radius: 4px

.map
  width: 347px
  height: 213px
  border-radius: 10px
  overflow: hidden
