.modal
    &__overlay
        position: fixed
        left: 0
        top: 0
        right: 0
        bottom: 0
        background-color: rgba(0, 143, 223, 0.39)
        z-index: 100
        visibility: hidden
        opacity: 0
        transition: opacity 0.2s
        &--visible
            visibility: visible
            opacity: 1
    &__ico
        width: 16px
        height: 16px
    &__dialog
        max-height: 100%
        overflow-y: auto
        position: fixed
        top: 48%
        left: 49.5%
        transform: translate(-50%, -50%)
        width: 478px
        padding: 33px 88px
        background-color: #0A223D
        color: #fff
        border-radius: 8px
        z-index: 101
        visibility: hidden
        opacity: 0
        transition: opacity 0.2s
        &--visible
            visibility: visible
            opacity: 1
    &__close
        position: fixed
        right: 18px
        top: 17px
    &__input
        // color: #000
        width: 100%
        margin-top: 15px
        font-size: 12px
        &::-webkit-input-placeholder
            font-size: 12px
            line-height: 15px
            color: #BDBDBD
        &::-moz-placeholder
            color: #BDBDBD
            font-size: 12px
            // line-height: 15px
        &:-ms-input-placeholder
            color: #BDBDBD
            font-size: 12px
            line-height: 15px
    &__message
        color: #000
        width: 100%
        min-height: 120px
        margin-top: 15px
        font-size: 12px
        &::-webkit-input-placeholder
            color: #BDBDBD
        &::-moz-placeholder
            color: #BDBDBD
        &:-ms-input-placeholder
            color: #BDBDBD
    &__button
        margin-top: 8px
        min-width: 160px
        min-height: 50px
        font-weight: bold
        font-size: 12px
        line-height: 15px
    &__info
        font-weight: bold
        font-size: 12px
        line-height: 15px
        color: #BDBDBD
        margin-left: 40px
    &__title
        // margin-bottom: 15px
        font-weight: bold
        font-size: 18px
        line-height: 23px
        text-transform: uppercase
        text-align: center
